<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<link rel="stylesheet" th:href="@{/css/board.css}">-->
</head>
<body>
<!-- header 추가 -->

<div id="wrap">

    <form action="/reservation/search" method="GET">
        <div class="search">
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
        </div>

        <button>검색하기</button>
    </form>

    <table>
        <thead>

        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="timetable : ${timetableList}">
            <td>
                <span th:text="${timetable.bus_name}"></span>
            </td>
            <td>
                <span th:text="${timetable.busstop_name}"></span>

            </td>
            <td>
                <span th:text="${timetable.time}"></span>
            </td>
            <td>
                <button>예약하기</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>